# components to be used; IMPORTANT: there should be no space between the files names !
COMPOSE_FILE='compose/beszel.yml,compose/caddy.yml,compose/seafile-13.yml,compose/mariadb.yml,compose/redis.yml,compose/seadoc.yml,compose/seasearch.yml,compose/notification.yml,compose/onlyoffice.yml,compose/metadata.yml'
COMPOSE_PATH_SEPARATOR=','

SEAFILE_IMAGE=seafileltd/seafile-pro-mc:13.0-latest
SEADOC_IMAGE=seafileltd/sdoc-server:2.0-latest
SEASEARCH_IMAGE=seafileltd/seasearch:1.0-latest
NOTIFICATION_SERVER_IMAGE=seafileltd/notification-server:13.0-latest
ONLYOFFICE_IMAGE=onlyoffice/documentserver:9.4
MD_IMAGE=seafileltd/seafile-md-server:13.0-latest

TIME_ZONE=Europe/Berlin

SEAFILE_ADMIN_EMAIL=
SEAFILE_ADMIN_PASSWORD=

SEAFILE_SERVER_HOSTNAME=seafile-demo.de
SEAFILE_SERVER_PROTOCOL=https

# Secrets: System
MARIADB_ROOT_PASSWORD=
REDIS_PASSWORD=
JWT_PRIVATE_KEY=
ONLYOFFICE_JWT_SECRET=

# SeaSearch
INIT_SS_ADMIN_USER=
INIT_SS_ADMIN_PASSWORD=
SEASEARCH_PW= # must be the base64 password for seafevents.conf

# Secrets: User
DEFAULT_PW= # default password of the users, special chars have to be escaped

# Setup
OFFICE_EDITOR=   # add "onlyoffice" or "collabora"

# Email configuration
#EMAIL_HOST=
#EMAIL_HOST_USER=
#EMAIL_HOST_PASSWORD=

# healthcheck
HEALTHCHECK_URL=
